// some of bg are used as borders; consider renaming
$bg0: black;
$bg1: rgb(18, 18, 18);
$bg2: rgb(54, 54, 54);
$border: rgb(72, 72, 72);
$textLight: white;
$link: #646cff;
$linkHover: #b22eff;
$button: $bg2;
$buttonHover: $bg2;
$buttonColorful: #b22eff;
$buttonColorfulHover: #b22eff;
