include ../icon/iconLink

mixin actionList(...actionItems)
    ul.action-list&attributes(attributes.actionList)
        each item in actionItems
            li.action-list__item
                +iconLink(
                    item.icon, item.href, item.label
                )(class=attributes.iconLink)