include iconElementList

+iconElementList(
    [{
        'tag': 'button',
        'icon': images.deleteIcon,
        'label': 'Discard',
        'attrs': {
            'class': [
                'blog-post-form__discard-button',
                'blog-post-form__submit-button',
            ]
        }
    },
    {
        'tag': 'button',
        'icon': images.saveIcon,
        'label': 'Save',
        'attrs': {
            'class': [
                'blog-post-form__save-button',
                'blog-post-form__submit-button',
            ]
        }
    },
    {
        'tag': 'button',
        'icon': images.publishIcon,
        'label': 'Publish',
        'attrs': {
            'class': [
                'blog-post-form__publish-button',
                'blog-post-form__submit-button',
            ]
        }
    }],
    {
        'iconElement': { 
            'form': 'blog-post-form',
            'type': 'submit',
            'class': [
                '-colorful',
                '-gap-small',
                '-padding-even-slim'
            ]
        },
        'iconElementList': {
            'class': [
                '-gap-small'
            ]
        }
    }
)