include iconElementList

mixin blogPostList(blogPosts, attrs={})
    ul.blog-post-list&attributes(attrs)
        each blogPost in blogPosts
            li.blog-post-item(id=blogPost._id)
                article.blog-post-item__article
                    header.blog-post-item__top 
                        .blog-post-item__title= blogPost.title
                        .blog-post-item__date-group
                            .blog-post-item__published
                                | Published: 
                                time(
                                    datetime=blogPost.publish_date
                                )= blogPost.publish_date
                            .blog-post-item__last-modified
                                | Last modified: 
                                time(
                                    datetime=blogPost.last_modified_date
                                )= blogPost.last_modified_date
                    section.blog-post-item__bottom
                        - const likes = blogPost.likes
                        - const dislikes = blogPost.dislikes 
                        - const totalComments = blogPost.comments.length
                            
                        +iconElementList(
                            [{
                                'tag': 'div',
                                'icon': images.likeIcon,
                                'label': likes,
                                'attrs': {
                                    'class': 'blog-post-item__likes'
                                }
                            },
                            {
                                'tag': 'div',
                                'icon': images.dislikeIcon,
                                'label': dislikes,
                                'attrs': {
                                    'class': 'blog-post-item__dislikes'
                                }
                            },
                            {
                                'tag': 'div',
                                'icon': images.commentIcon,
                                'label': totalComments,
                                'attrs': {
                                    'class': 'blog-post-item__total-comments'
                                }
                            }],
                            {
                                'iconElement': {
                                    'class': [
                                        '-small',
                                        '-gap-small',
                                        '-avatar'
                                    ]
                                },
                                'iconElementList': {
                                    'class': 'blog-post-item__reaction-list'
                                }
                            }
                        )
                        .blog-post-item__actions
                            +iconElementList(
                                [{
                                    'tag': 'a',
                                    'icon': images.editIcon,
                                    'label': null,
                                    'attrs': {
                                        'class': [
                                            '-button'
                                        ]
                                    }
                                },
                                {
                                    'tag': 'button',
                                    'icon': images.deleteIcon,
                                    'label': null,
                                    'attrs': {
                                        'class': [
                                            'blog-post-item__delete-button'
                                        ]
                                    }
                                }],
                                {
                                    'iconElement': {
                                        'class': [
                                            '-small',
                                            '-colorful', 
                                            '-padding-even-slim'
                                        ]
                                    }
                                }
                            )