mixin buttonList(buttonItems, attrs={})
  ul.button-list&attributes(attrs.buttonList)
    each item in buttonItems
      li.button-list__item
        button.button-list__button(class=item.classId)&attributes(attrs.button)= item.label
