include ../icon/iconButton

mixin buttonList(...buttonItems)
    ul.button-list&attributes(attributes.buttonList)
        each item in buttonItems
            li.button-list__item
                +iconButton(
                    item.icon, item.label
                )(class=attributes.iconButton)