mixin iconList(iconItems, attrs={})
    ul.icon-list&attributes(attrs)
        each item in iconItems
            li.icon-list__item(class=item.classId)
                .icon-list__icon
                    img(src=item.icon)
                if item.label != null
                    .icon-list__label= item.label