include ../button/iconButton

mixin iconButtonList(buttonItems, attrs={})
    ul.icon-button-list&attributes(attrs.iconButtonList)
        each item in buttonItems
            li.icon-button-list__item
                - item.label = item.label ?? null
                +iconButton(
                    item.classId,
                    item.icon,  
                    item.label,
                    attrs.iconButton
                )