include ../link/iconLink

mixin iconLinkList(...actionItems)
    ul.icon-link-list&attributes(attributes.iconLinkList)
        each item in actionItems
            li.icon-link-list__item
                - item.label = item.label ?? null
                +iconLink(
                    item.icon, 
                    item.href, 
                    item.label
                )(class=attributes.iconLink)