include ../button/iconButton

mixin iconButtonList(...buttonItems)
    - console.log(attributes)
    - console.log(attributes.iconButton)
    ul.icon-button-list&attributes(attributes.iconButtonList)
        each item in buttonItems
            li.icon-button-list__item
                - item.label = item.label ?? null
                +iconButton(
                    item.classId,
                    item.icon,  
                    item.label
                )(attributes.iconButton)