include ../icon/iconLink

mixin linkList(...actionItems)
    ul.link-list&attributes(attributes.linkList)
        each item in actionItems
            li.link-list__item
                +iconLink(
                    item.icon, item.href, item.label
                )(class=attributes.iconLink)