@use '../../globals/font-sizes' as fSizes;
@use '../../globals/icon-sizes' as iSizes;

.icon-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &.-avatar {
        .icon-link__icon {
            border-radius: 50%;
        }
    }

    &.-center {
        justify-content: center;
    }

    &.-slim {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    &.-small {
        .icon-link__icon {
            height: iSizes.$small;
            width: iSizes.$small;
        }
        .icon-link__label {
            font-size: fSizes.$small;
        }
    }

    &.-large {
        
        .icon-link__icon {
            height: iSizes.$large;
            width: iSizes.$large;
        }

        .icon-link__label {
            font-size: fSizes.$large;
        }
    }

    &.-larger {
        
        .icon-link__icon {
            height: iSizes.$larger;
            width: iSizes.$larger;
        }

        .icon-link__label {
            font-size: fSizes.$larger;
        }
    }
}