@use '../../globals/colors';
@use '../../globals/font-sizes' as fSizes;
@use '../../globals/icon-sizes' as iSizes;

.action-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__button {
        display: flex;
        gap: 1rem;
        width: 100%;
        border: none;
        background-color: colors.$bg3;
        border-radius: 10px;
    }

    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }
}

