.icon-element-list {
    display: flex;
    align-items: center;

    &.-column {
        flex-direction: column;
    }

    &.-center {
        justify-content: center;
    }

    &.-align-start {
        align-items: start;
    }

    &.-gap-small {
        gap: 1rem;
    }
    
    &.-gap-medium {
        gap: 2rem;
    }
}