@use '../../globals/colors';
@use '../../globals/icon-sizes' as iSizes;
@use '../../globals/font-sizes' as fSizes;

.icon-list {
    display: flex;
    align-items: center;
    gap: 3rem;

    &__item {
        display: flex;
        gap: 0.2rem;
    }
    
    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &.-column {
        flex-direction: column;
    }

    &.-small {
        .icon-list__icon {
            height: iSizes.$small;
            width: iSizes.$small;
        }

        .icon-list__label {
            font-size: fSizes.$small
        }
    }

    &.-center {
        justify-content: center;
    }
}