extends toolbars
include ../components/icon/iconElement
include ../components/list/buttonList

block navbar
    .navbar__left
        +iconElement(
            'button'
            '/images/burgerIcon.png',
            null,
            {
                'class': [
                    'navbar__content-button',
                    '-padding-burger-small'
                ]
            }
        )
        +iconElement(
            'a',
            '/images/favicon.png', 
            'Tech Stack',
            {
                'href': '/',
                'class': [
                    '-gap-small'
                ]
            }
        )
    .navbar__right
        +buttonList(
            [{
                'classId': 'navbar__discard-button',
                'label': 'Discard'
            },
            {
                'classId': 'navbar__save-button',
                'label': 'Save'
            },
            {
                'classId': 'navbar__publish-button',
                'label': 'Publish'
            }],
            {
                'button': { 
                    'form': 'blog-post-form',
                    'type': 'submit',
                    'class': '-colorful',
                },
                'buttonList': {
                    'class': '-gap-small'
                }
            }
        )
        
        +iconElement(
            'button'
            '/images/profileIcon.png',
            null,
            {
                'class': [
                    'navbar__account-button',
                    '-avatar',
                    '-padding-burger-small'
                ]
            }
        )
    
block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page