extends toolbars
include ../components/button/iconButton
include ../components/link/iconLink

block navbar
    .navbar__left
        +iconButton(
            'navbar__content-button',
            '/images/burgerIcon.png',
            null,
            {
                'class': '-burger'
            }
        )
        +iconLink(
            '/images/favicon.png', 
            '/', 
            'Tech Stack'
        )
        .navbar__message Draft by #{mainUser.username}
    .navbar__right
        button(
            form='blog-post-form'
            type='submit' 
            class='-colorful'
        ) Publish
        +iconButton(
            'navbar__account-button',
            '/images/profileIcon.png',
            null,
            {
                'class': '-avatar'
            }
        )
    
block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page