extends toolbars
include ../components/button/iconButton
include ../components/link/iconLink
include ../components/list/buttonList

block navbar
    .navbar__left
        +iconButton(
            'navbar__content-button',
            '/images/burgerIcon.png',
            null,
            {
                'class': '-burger'
            }
        )
        +iconLink(
            '/images/favicon.png', 
            '/', 
            'Tech Stack'
        )
    .navbar__right
        +buttonList(
            [{
                'classId': 'navbar__discard-button',
                'label': 'Discard'
            },
            {
                'classId': 'navbar__save-button',
                'label': 'Save'
            },
            {
                'classId': 'navbar__publish-button',
                'label': 'Publish'
            }],
            {
                'button': { 
                    'class': '-colorful',
                    'form': 'blog-post-form',
                    'type': 'submit'
                },
                'buttonList': {
                    'class': '-small-gap'
                }
            }
        )
        
        +iconButton(
            'navbar__account-button',
            '/images/profileIcon.png',
            null,
            {
                'class': '-avatar'
            }
        )
    
block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page