extends toolbars
include ../components/button/iconButton
include ../components/link/iconLink

block navbar
    .navbar__left
        +iconButton(
            'navbar-content-button',
            '/images/burgerIcon.png'
        )(class='-burger')
        +iconLink('/images/favicon.png', '/', 'Tech Stack')
        .navbar__message Draft by #{mainUser.username}
    .navbar__right
        button(
            form='blog-post-form'
            type='submit' 
            class='-colorful'
        ) Publish
        +iconButton(
            'navbar-account-button',
            '/images/profileIcon.png'
        )(class='-avatar')
    
block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page