extends toolbars

block navbar
    .navbar__left
        +iconButton(
            'navbar-content-button',
            '/images/burgerIcon.png'
        )(class='-burger')
        +iconLink('/images/favicon.png', '/', 'Tech Stack')
        .navbar__message Draft by #{mainUser.username}
    .navbar__right
        .a(
            href=`/users/${mainUser.username}/blogs/publish-preview` 
            class='-button'
        ) Publish
        +iconButton(
            'navbar-account-button',
            '/images/profileIcon.png'
        )(class='-avatar')
    
block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page