extends toolbars

block navbar
    .navbar__left
        button.burger-button 
            .burger-button__icon
                img(
                    src='/images/burgerIcon.png'
                )
        include ../components/siteIcon
        .navbar__message Draft by #{user.username}
    .navbar__right 
        button.publish-button Publish
        button.account-button
            .account-button__icon.avatar
                img(src='/images/profileIcon.png') 
    
block sidebars
    include ../components/contentSidebar
    include ../components/accountSidebar
    block page