extends toolbars

block navbar
    .navbar__left
        +iconButton(
            '/images/burgerIcon.png'
        )(class='-burger' id='navbar-burger-button')
        +iconLink('/images/favicon.png', '/', 'Tech Stack')
        .navbar__message Draft by #{user.username}
    .navbar__right
        .a(
            href=`/users/${user.username}/blogs/publish-preview` 
            class='-button'
        ) Publish
        +iconButton(
            '/images/profileIcon.png'
        )(class='-circle', id='navbar-account-button')
    
block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page