extends toolbars
include ../components/iconButton 
include ../components/iconLink

block navbar
    .navbar__left
        +iconButton('/images/burgerIcon.png')(class='-burger')
        +iconLink('/images/favicon.png', '/', 'Tech Stack')
    .navbar__center 
        include ../components/searchbar
    .navbar__right 
        if user
            +iconLink(
                '/images/writeIcon.png', 
                `/users/${user.username}/blogs/new-blog`,
                'Write'
            )
            +iconButton(
                '/images/profileIcon.png'
            )(class='-circle')
        else 
            a(href='/login' class='-button') Login

block sidebars
    include ../components/contentSidebar
    include ../components/accountSidebar
    block page