extends toolbars
include ../components/button/iconButton
include ../components/link/iconLink
include ../components/form/searchbar

block navbar
    .navbar__left
        +iconButton(
            'navbar__content-button',
            '/images/burgerIcon.png',
            null,
            {
                'class': '-burger'
            }
        )
        +iconLink(
            '/images/favicon.png', 
            '/', 
            'Tech Stack'
        )
    .navbar__center 
        +searchbar(
            'Search Tech Stack',
            {
                'class': 'navbar__searchbar', 
            }
        )
    .navbar__right 
        if mainUser
            +iconLink(
                '/images/writeIcon.png', 
                `/users/${mainUser.username}/blog-posts/new-blog-post`,
                'Write',
                {
                    'class': '-button'
                }
            )
        else 
            a(href='/login' class='-button') Login
        
        +iconButton(
            'navbar__account-button',
            '/images/profileIcon.png',
            null,
            {
                'class': '-avatar'
            }
        )

block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page