extends toolbars

block navbar
    .navbar__left
        button.burger-button 
            .burger-button__icon
                img(
                    src='/images/burgerIcon.png'
                )
        include ../components/siteLink
    .navbar__center 
        include ../components/searchbar
    .navbar__right 
        if user
            button.write-button
                .write-button__icon
                    img(src='/images/writeIcon.png')
                .write-button__label Write
            button.account-button
                .account-button__icon.avatar
                    img(src='/images/profileIcon.png')  
        else 
            button.login-button Login

block sidebars
    include ../components/contentSidebar
    include ../components/accountSidebar
    block page