extends toolbars
include ../components/icon/iconElement
include ../components/form/searchbar

block navbar
    .navbar__left
        +iconElement(
            'button',
            icons.burgerIcon,
            null,
            {
                'class': [
                    'navbar__content-button',
                    '-padding-burger-small'
                ]
            }
        )
        +iconElement(
            'a',
            icons.favicon,  
            'Tech Stack',
            {
                'href': '/',
                'class': [
                    '-gap-small'
                ]
            }
        )
    .navbar__center 
        +searchbar(
            'Search Tech Stack',
            {
                'class': 'navbar__searchbar', 
            }
        )
    .navbar__right 
        if loginUser
            +iconElement(
                'a',
                icons.writeIcon, 
                'Write',
                {
                    'href': `/users/${loginUser.username}/blog-posts/new-blog-post`,
                    'class': [
                        '-button',
                        '-colorful',
                        '-gap-small'
                    ]
                }
            )
        else 
            a(href='/login' class='-button -colorful') Login
        
        +iconElement(
            'button',
            icons.profileIcon,
            null,
            {
                'class': [
                    'navbar__account-button',
                    '-avatar',
                    '-padding-burger-small'
                ]
            }
        )

block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page