extends toolbars
include ../components/button/iconButton
include ../components/link/iconLink

block navbar
    .navbar__left
        +iconButton(
            'navbar-content-button',
            '/images/burgerIcon.png'
        )(class='-burger')
        +iconLink('/images/favicon.png', '/', 'Tech Stack')
    .navbar__center 
        include ../components/form/searchbar
    .navbar__right 
        if mainUser
            +iconLink(
                '/images/writeIcon.png', 
                `/users/${mainUser.username}/blogs/new-blog`,
                'Write'
            )(class='-button')
        else 
            a(href='/login' class='-button') Login
        
        +iconButton(
            'navbar-account-button',
            '/images/profileIcon.png'
        )(class='-avatar')

block sidebars
    include ../components/toolbar/contentSidebar
    include ../components/toolbar/accountSidebar
    block page