doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(
      name='description' 
      content='A place for reading blogs by coders and tech enthusiasts.'
    )
    link(rel='icon' type='image/x-icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer type='text/javascript' src='/tinymce/tinymce.min.js')
    script(defer type='text/javascript' src='/javascripts/myTinyMCEConfig.js')
    script(defer type='module' src='/javascripts/root.js')

  body
    block content