mixin iconLink(icon, href, label=null, attrs={})
    a(href=href).icon-link&attributes(attrs)
        .icon-link__icon
            img(src=icon)
        if label !== null
            .icon-link__label= label