.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {

    }

    &__author-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}