.user-blog-posts-page {
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__toolbar {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.user-blog-posts {
    &__left {

    }
}