include actionList

.account-sidebar
    .account-overview 
        .avatar Profile Pic
        .username #{user.username}
    +actionList(
        {
            'label': 'Your Profile',
            'icon': '/images/profileIcon.png'
        },
        {
            'label': 'Logout',
            'icon': '/images/logoutIcon.png'
        }
    )