include actionList
include iconButton

.account-sidebar.sidebar
    .sidebar__top
        +iconButton('/images/closeIcon.png')(class='-medium')
    if user
        .account-overview 
            .avatar Profile Pic
            .username= user.username
        +actionList(
            {
                'icon': '/images/profileIcon.png',
                'href': `/users/${user.username}`,
                'label': 'Your Profile'     
            }
        )(actionList={}, iconLink={})
    else 
        .account-sidebar__signup-prompt.signup-prompt
            .signup-prompt__text Not a member?
            a.signup-prompt__link(href='/signup' class='-button') Sign Up