include actionList
include iconButton

#account-sidebar.account-sidebar.sidebar.-closed
    .sidebar__top
        +iconButton('/images/closeIcon.png')(id='account-sidebar-close-button')
    if user
        .account-overview 
            .account-overview__avatar Profile Pic
            .account-overview__username= user.username
        +actionList(
            {
                'icon': '/images/profileIcon.png',
                'href': `/users/${user.username}`,
                'label': 'Your Profile'     
            }
        )(actionList=[], iconLink=[])
    else 
        .account-sidebar__signup-prompt.signup-prompt
            .signup-prompt__text Not a member?
            a.signup-prompt__link(href='/signup' class='-button') Sign Up