include actionItem

.sidebar
    .account-overview 
        .avatar Profile Pic
        div #{'Username'}
    ul.action-list 
        li
            actionItem(
                'Your Profile', 
                '../../public/images/profileIcon.png'
            )
        li
            actionItem(
                'Logout', 
                '../../public/images/logoutIcon.png'
            )