mixin actionList(...actionItems)
    ul.action-list
        each item in actionItems
            +actionItem(item.label, item.icon)


mixin actionItem(label, icon)
    li.action-list__item
        button.action-list__button
            .icon-medium
                img(src=icon)
            .action-list__label= label