include siteIcon

.navbar
    .navbar__left
        +siteIcon
        .navbar__message Draft by #{user.username}
    .navbar__right 
        button.navbar__button Publish
        button.navbar__button
            img.avatar(
                src='/images/profileIcon.png'
            ) 
    