include statList

mixin blogCard(blog, commentCount)
  .blog-card
    +statList(
      {
        'stat': blog.likes,
        'icon': '/images/likeIcon.png'
      },
      {
        'stat': blog.dislikes,
        'icon': '/images/dislikeIcon.png'
      },
      {
        'stat': blog.commentCount,
        'icon': '/images/commentIcon.png'
      }
    )
    .blog-card__overview
      .blog-card__author= blog.author.name
      .blog-card__title= blog.title
      // Blog preview; show first 100 chars of non-heading text
      .blog-card__preview= blog.content[0].content.substring(0, 100) + '...'