include statList

mixin blogCard(blog)
  .blog-card
    +statList(
      {
        'icon': '/images/likeIcon.png',
        'stat': 0
      },
      {
        'icon': '/images/dislikeIcon.png',
        'stat': 0
      },
      {
        'icon': '/images/commentIcon.png',
        'stat': 0
      }
    )
    .blog-card__overview
      .blog-card__author= 'Author'
      .blog-card__title= 'Title'
      // Blog preview; show first 100 chars of non-heading text
      // [0].content.substring(0, 100) + '...'
      .blog-card__preview= 'Content'