include siteIcon

.navbar
    .navbar__left
        button.burger-button
            img(
                src='/images/burgerIcon.png'
            )
        +siteIcon
        .searchbar
            .searchbar__icon
                img(src='/images/searchIcon.png')
            form.searchbar__form
                input.searchbar__input(
                    type='text', placeholder='Search Tech Stack'
                )
    .navbar__right 
        if user
            button.write-button
                .write-button__icon
                    img(src='/images/writeIcon.png')
                .write-button__label Write
            button.account-button
                .avatar
                    img(src='/images/profileIcon.png')  
        else 
            button.login-button Login