include actionList
include iconButton

.content-sidebar.sidebar
    .sidebar__top
        +iconButton('/images/closeIcon.png')(class='-iconMedium')
    .content-sidebar__heading Recent
    .content-sidebar__section
        +actionList(
            {
                'icon': '/images/profileIcon.png',
                'href': '/blogs',
                'label': 'Blog 1'     
            },
            {
                'icon': '/images/profileIcon.png',
                'href': '/blogs',
                'label': 'Blog 1'
            }
        )(actionList={}, iconLink={})
    .content-sidebar__heading Suggested
    .content-sidebar__section
        +actionList(
            {
                'label': 'Blog 1',
                'img': '/images/profileIcon.png'
            },
            {
                'label': 'Blog 2',
                'img': '/images/profileIcon.png'
            }
        )