include actionList

.content-sidebar.sidebar
    .sidebar__exit Close
    .content-sidebar__section-heading Recent
    .content-sidebar__section-body
        +actionList(
            {
                'label': 'Blog 1',
                'img': '/images/profileIcon.png'
            },
            {
                'label': 'Blog 2',
                'img': '/images/profileIcon.png'
            }
        )
    .content-sidebar__section-heading Suggested
    .content-sidebar__section-body
        +actionList(
            {
                'label': 'Blog 1',
                'img': '/images/profileIcon.png'
            },
            {
                'label': 'Blog 2',
                'img': '/images/profileIcon.png'
            }
        )