.searchbar
    .searchbar__icon.icon-small
        img(src='/images/searchIcon.png')
    form.searchbar__form
        input.searchbar__input(
            type='text', placeholder='Search Tech Stack'
        )