#sidebar 
    if !loggedIn
        div
            .siteName Tech Stack
            div A place for coders and tech enthusiasts

        div
            div Not a member?
            button Sign Up
    else 
        #blogCategories 
            button#recent 
            button#suggested
        
        #blogList 


