@use '../../../../globalSassVars/icon-sizes' as iSizes;
@use '../../../../globalMixins/text-cutoff';
@use 'modifiers' as mod;

.icon-element {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &__label {
        @include text-cutoff.cut(2);
        word-break: break-word;
    }

    &.-column {
        @include mod.column();
    }

    &.-gap-small {
        @include mod.gap-small();
    }

    &.-padding-even-slim {
        @include mod.padding-even-slim();
    }

    &.-padding-even-small {
        @include mod.padding-even-small();
    }

    &.-padding-burger-small {
        @include mod.padding-burger-small();
    }

    &.-small {
        @include mod.small();
    }

    &.-large {
        @include mod.large();
    }

    &.-larger {
        @include mod.larger();
    }
}