@use '../../../globalVars/colors';
@use '../../../globalVars/font-sizes' as fSizes;

.content-sidebar {
    left: 0;
    border-right: 2px solid colors.$bg2;

    &__heading {
        margin-bottom: 1rem;
        font-size: fSizes.$large;
        border-bottom: 2px solid colors.$bg2;
    }

    &__section {
        margin-bottom: 1rem;
    }

    &.-closed {
        display: none;
    }
}