@use '../../../globals/colors';

.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid colors.$bg2;

    &__logo-title {
        display: flex;
        justify-content: center;
    }

    &__site-description {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    &__associated-media {
        display: flex;
        justify-content: center;
    }

    &__copyright {
        margin: 0;
        text-align: center;
    }
}