@use '../../../globalSassVars/colors';
@use '../../../globalSassVars/layout';
@use '../../../globalSassVars/break-points' as bp;

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    padding: 1rem;
    height: layout.$navbar-height;
    min-height: layout.$navbar-min-height;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid colors.$bg2;
    background-color: colors.$bg0;

    &__left {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__center {
        flex: 2;
    }

    &__right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }

    &.-expanded-searchbar {
        .navbar__right {
            display: none;
        }

        .navbar__center {
            display: block;
        }

        .navbar__search-button {
            display: none;
        }
    }
}

@media (max-width: bp.$bp1) {
    .navbar {
        &__left {
            flex: 0;
        }
        
        &__center {
            display: none;
        }
    }
}

@media (min-width: calc(bp.$bp1 + 1px)) {
    .navbar {
        &__search-button {
            display: none;
        }
    }
}