@use '../../../globalVars/colors';
@use '../../../globalVars/break-points' as bp;
@use '../../../globalVars/layout';


.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    height: layout.$navbar-height;
    min-height: layout.$navbar-min-height;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid colors.$bg2;
    background-color: colors.$bg0;

    &__left {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__center {
        flex: 2;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    &__right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
}