@use 'components/account-sidebar';
@use 'components/content-sidebar';
@use 'components/action-item';
@use 'components/author-navbar';
@use 'components/browser-navbar';
@use 'components/blog-card';
@use 'globals/colors';
@use 'layouts/author';
@use 'layouts/browser';
@use 'pages/index';


* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: colors.$bg0;
  color: colors.$text0;
}

a {
  font-weight: 500;
  color: colors.$link;
  text-decoration: inherit;

  &:hover {
    color: colors.$linkHover;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  background-color: colors.$button;
  border: none;

  &:hover {
    background-color: colors.$buttonHover;
  }
}

h1, h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

.iconSmall {
  width: 1rem;
  height: 1rem;
}

.iconMedium {
  width: 2rem;
  height: 2rem;
}