@use "codeHighlighting/prism-holi-theme";
@use "globalCssVars/break-points";
@use "globalSassVars/colors";
@use "globalSassVars/font-sizes" as fSizes;
@use "views/components/card/blogPostCard/blog-post-card";
@use "views/components/card/comment-card";
@use "views/components/form/form-input";
@use "views/components/form/form-select";
@use "views/components/form/form-textarea";
@use "views/components/form/logging-form";
@use "views/components/form/searchbar";
@use "views/components/fragment/blog-post-fragment";
@use "views/components/grid/blog-post-grid";
@use "views/components/icon/icon-element/icon-element";
@use "views/components/list/blog-post-list";
@use "views/components/list/button-list";
@use "views/components/list/icon-element-list";
@use "views/components/toolbar/footer";
@use "views/components/toolbar/navbar-dropdown";
@use "views/components/toolbar/navbar";
@use "views/components/toolbar/sidebar";
@use "views/layouts/logging";
@use "views/layouts/toolbars";
@use "views/pages/blog-post-form";
@use "views/pages/blog-post";
@use "views/pages/error";
@use "views/pages/index";
@use "views/pages/user-blog-posts";
@use "views/pages/user-profile";

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: colors.$textLight;
  scroll-behavior: smooth;
}

a {
  color: colors.$link;
  text-decoration: inherit;

  &:hover {
    color: colors.$linkHover;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: colors.$bg1;
}

button,
a.-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: colors.$textLight;
  border: 2px solid colors.$button;
  border-radius: 5px;
  background: none;
  font-size: fSizes.$large;
  text-decoration: none;

  &:hover {
    background-color: colors.$button;
  }

  &.-colorful {
    color: colors.$buttonColorful;
    border: 2px solid colors.$buttonColorful;

    &:hover {
      color: colors.$textLight;
      background-color: colors.$buttonColorful;
    }
  }

  &.-tab {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &.-error {
    color: red;
    border: 2px solid red;

    &:hover {
      color: colors.$textLight;
      background-color: red;
    }
  }
}

h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  height: 100%;
  width: 100%;
}

input {
  font-size: fSizes.$medium;
}

label {
  font-weight: bold;
}

textarea {
  margin: 0;
  font-size: fSizes.$medium;
  resize: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

// style code blocks/inlines
code[class*="language-"],
pre[class*="language-"] {
  padding: 1rem;
  white-space: pre-wrap;
}

.-hidden {
  visibility: hidden;
}

.-gone {
  display: none;
}

.-bold {
  font-weight: bold;
}
