@use 'components/account-sidebar';
@use 'components/action-list';
@use 'components/blog-card';
@use 'components/content-sidebar';
@use 'components/icon-button';
@use 'components/icon-link';
@use 'components/searchbar';
@use 'components/stat-list';
@use 'globals/colors';
@use 'globals/font-sizes' as fSizes;
@use 'globals/icon-sizes' as iSizes;
@use 'layouts/author';
@use 'layouts/browser';
@use 'layouts/toolbars';
@use 'pages/index';


* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: colors.$textLight;
}

a {
  font-weight: 500;
  color: colors.$link;
  text-decoration: inherit;

  &:hover {
    color: colors.$linkHover;
  }

  &.-button {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: colors.$buttonColorful;
    border: 2px solid colors.$buttonColorful;
    border-radius: 5px;
    background: none;
    font-size: fSizes.$large;
    
    &:hover {
      color: colors.$textLight;
      background-color: colors.$buttonColorful;
    }
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: colors.$bg1;
}

button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: colors.$textLight;
  border: 2px solid colors.$button;
  border-radius: 5px;
  background: none;
  font-size: fSizes.$medium;
  
  &:hover {
    background-color: colors.$button;
  }
}

h1, h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  height: 100%;
  width: 100%;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.signup-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: fSizes.$large;
}