@use '../globals/colors';
@use '../globals/font-sizes' as fSizes;
@use '../globals/icon-sizes' as iSizes;

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 8vh;
    min-height: 4rem;
    z-index: 10;
    border-bottom: 2px solid colors.$bg2;
    background-color: colors.$bg0;

    &__left {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__center {
        flex: 2;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    &__right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
}

.page-container {
    display: flex;
    justify-content: center;
    overflow: auto;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    padding: 1rem;
    z-index: 10;
    background-color: colors.$bg0;
    border-bottom: 2px solid colors.$bg2;

    &__title {
        font-size: fSizes.$larger;
        font-weight: bold;
        margin-bottom: 1rem;
        border-bottom: 4px solid colors.$bg2;
    }
}