@use '../../../../globalSassVars/icon-sizes' as iSizes;
@use '../../../../globalMixins/text-cutoff';
@use '../../../../globalSassVars/break-points' as bp;
@use 'modifiers' as mod;

.icon-element {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__icon {
        flex: none;
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &__label {
        @include text-cutoff.cut(2);
        word-break: break-word;
    }

    &.-avatar {
        .icon-element__icon > img {
            border-radius: 50%;
        }
    }

    &.-column {
        flex-direction: column;
    }

    &.-gap-small {
        gap: 0.5rem;
    }

    &.-padding-even-slim {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    &.-padding-even-small {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &.-padding-burger-small {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &.-small {
        @include mod.small();
    }

    &.-large {
        @include mod.large();
    }

    &.-larger {
        @include mod.larger();
    }
}