include ../list/iconElementList
include ../icon/iconElement

nav.account-sidebar.sidebar.-closed
    h2.sidebar__title Account
    if loginUser
        - let icon = images.profileIcon
        
        if loginUser.profile_pic
            - const pic = loginUser.profile_pic
            - const base64 = pic.data.toString('base64')
            - icon = `data:${pic.contentType};base64,${base64}`
            
        +iconElement(
            'div',
            icon,
            loginUser.username,
            {
                'class': [
                    'account-sidebar__overview',
                    '-avatar',
                    '-large',
                    '-gap-medium'
                ]
            }
        )
        +iconElementList(
            [{
                'tag': 'a',
                'icon': images.profileIcon,
                'label': 'Your Profile',
                'attrs': {
                    'href': `/users/${loginUser.username}`,
                }
            },
            {
                'tag': 'a',
                'icon': images.blogPostIcon,
                'label': 'Your Blog Posts',
                'attrs': {
                    'href': `/users/${loginUser.username}/blog-posts`,
                }
            }],
            {
                'iconElementList': {
                    'class': [
                        '-gap-small',
                        '-column',
                        '-align-start'
                    ]
                },
                'iconElement': {
                    'class': '-gap-small'
                }
            }
        )
        .account-sidebar__logout
            a(href='/logout') Logout
    else 
        .account-sidebar__signup-prompt.signup-prompt
            .signup-prompt__text Not a member?
            a.signup-prompt__link(href='/signup' class='-button') Sign Up