include ../list/iconElementList

.account-sidebar.sidebar.-closed
    .sidebar__title Account
    if mainUser
        .account-sidebar__overview 
            .account-sidebar__avatar
                img(src='/images/profileIcon.png')
            .account-sidebar__username= mainUser.username
        +iconElementList(
            [{
                'tag': 'a',
                'icon': '/images/profileIcon.png',
                'label': 'Your Profile',
                'attrs': {
                    'href': `/users/${mainUser.username}`,
                    'class': '-gap-small'
                }
            }]
        )
        +iconElementList(
            [{
                'tag': 'a',
                'icon': '/images/blogPostIcon.png',
                'label': 'Your Blog Posts',
                'attrs': {
                    'href': `/users/${mainUser.username}/blog-posts`,
                    'class': '-gap-small'
                }
            }]
        )
        .account-sidebar__logout
            a(href='/logout') Logout
    else 
        .account-sidebar__signup-prompt.signup-prompt
            .signup-prompt__text Not a member?
            a.signup-prompt__link(href='/signup' class='-button') Sign Up