include ../list/linkList

.account-sidebar.sidebar.-closed
    .sidebar__title Account
    if user
        .account-sidebar__overview 
            .account-sidebar__avatar
                img(src='/images/profileIcon.png')
            .account-sidebar__username= user.username
        +linkList(
            {
                'icon': '/images/profileIcon.png',
                'href': `/users/${user.username}`,
                'label': 'Your Profile'     
            }
        )(linkList = [], iconLink = ['-left'])
        .account-sidebar__logout
            a(href='/logout') Logout
    else 
        .account-sidebar__signup-prompt.signup-prompt
            .signup-prompt__text Not a member?
            a.signup-prompt__link(href='/signup' class='-button') Sign Up