include ../list/iconLinkList

.account-sidebar.sidebar.-closed
    .sidebar__title Account
    if mainUser
        .account-sidebar__overview 
            .account-sidebar__avatar
                img(src='/images/profileIcon.png')
            .account-sidebar__username= mainUser.username
        +iconLinkList(
            [{
                'icon': '/images/profileIcon.png',
                'href': `/users/${mainUser.username}`,
                'label': 'Your Profile'     
            }]
        )
        +iconLinkList(
            [{
                'icon': '/images/blogPostIcon.png',
                'href': `/users/${mainUser.username}/blog-posts`,
                'label': 'Your Blog Posts'
            }]
        )
        .account-sidebar__logout
            a(href='/logout') Logout
    else 
        .account-sidebar__signup-prompt.signup-prompt
            .signup-prompt__text Not a member?
            a.signup-prompt__link(href='/signup' class='-button') Sign Up