include ../list/iconLinkList

.content-sidebar.sidebar.-closed
    .sidebar__title Content
    .content-sidebar__heading Recent
    .content-sidebar__section
        +iconLinkList(
            {
                'icon': '/images/profileIcon.png',
                'href': '/blogs',
                'label': 'Blog 1'     
            },
            {
                'icon': '/images/profileIcon.png',
                'href': '/blogs',
                'label': 'Blog 2'
            }
        )
    .content-sidebar__heading Suggested
    .content-sidebar__section
        +iconLinkList(
            {
                'icon': '/images/profileIcon.png',
                'href': '/blogs',
                'label': 'Blog 1'     
            },
            {
                'icon': '/images/profileIcon.png',
                'href': '/blogs',
                'label': 'Blog 2'
            }
        )