include ../list/iconElementList

.content-sidebar.sidebar.-closed
    .sidebar__title Content
    .content-sidebar__heading Recent
    .content-sidebar__section
        +iconElementList(
            [{
                'tag': 'a',
                'icon': '/images/profileIcon.png',
                'label': 'Blog Post 1',
                'attrs': {
                    'href': '/',
                }     
            },
            {
                'tag': 'a',
                'icon': '/images/profileIcon.png',
                'label': 'Blog Post 2',
                'attrs': {
                    'href': '/',
                }    
            }],
            {
                'iconElementList': {
                    'class': [
                        '-column',
                        '-gap-small',
                        '-align-start'
                    ]
                },
                'iconElement': {
                    'class': '-gap-small'
                }
            }
        )
    .content-sidebar__heading Suggested
    .content-sidebar__section
        +iconElementList(
            [{
                'tag': 'a',
                'icon': '/images/profileIcon.png',
                'label': 'Blog Post 1',
                'attrs': {
                    'href': '/',
                }      
            },
            {
                'tag': 'a',
                'icon': '/images/profileIcon.png',
                'label': 'Blog Post 2',
                'attrs': {
                    'href': '/',
                } 
            }],
            {
                'iconElementList': {
                    'class': [
                        '-column',
                        '-gap-small',
                        '-align-start'
                    ]
                },
                'iconElement': {
                    'class': '-gap-small'
                }
            }
        )