include ../list/iconElementList 

.navbar-dropdown
    if !blogPosts.length
        | No blog posts found.
    else
        - const iconElements = []
        - const defaultIcon = images.profileIcon

        each blogPost in blogPosts
            - let pic = blogPost.author.profile_pic

            if pic
                - const base64 = pic.data.toString('base64')
                - pic = `data:${pic.contentType};base64,${base64}`
            - 
                iconElements.push({
                    'tag': 'a',
                    'icon': pic || defaultIcon,
                    'label': blogPost.title,
                    'attrs': {
                        'href': `/blog-posts/${blogPost._id}`,
                    }
                })

        +iconElementList(
            iconElements,
            {
                'iconElementList': {
                    'class': [
                        '-column',
                        '-align-start'
                    ]
                },
                'iconElement': {
                    'class': [
                        '-gap-small',
                        '-avatar'
                    ]
                }
            }
        )