include ../list/statList

mixin blogCard(blog)
  .blog-card&attributes(attributes)
    .blog-card__stat-list
      +statList(
        {
          'icon': '/images/likeIcon.png',
          'stat': blog.likes
        },
        {
          'icon': '/images/dislikeIcon.png',
          'stat': blog.dislikes
        },
        {
          'icon': '/images/commentIcon.png',
          'stat': blog.comments.length
        }
      )(class='-column -small')
    .blog-card__overview
      .blog-card__author-date
        .blog-card__author-details
          +iconLink(
            '/images/profileIcon.png',
            '#',
            blog.author.name
          )
        .blog-card__date= blog.publish_date
      .blog-card__content-overview
        h1.blog-card__title= blog.title
        p.blog-card__preview= blog.content
        .blog-card__keywords-container
          .blog-card__keywords-heading Keywords:
          .blog-card__keywords= blog.keywords.join(' | ')