mixin iconElement(tag, icon, label=null, attrs={})
    #{tag}.icon-element&attributes(attrs)
        .icon-element__icon
            img(src=icon)
        if label !== null
            .icon-element__label= label