mixin svgIconElement(tag, icon, label=null, attrs={})
    #{tag}.svg-icon-element.icon-element&attributes(attrs)
        +#{icon}({ 'class': 'svg-icon-element__icon icon-element__icon' })
        if label !== null
            .svg-icon-element__label.icon-element__label= label