include formInput

mixin loggingForm(action, inputs={}, errors=[]) 
    - const usernameErrors = []
    - const passwordErrors = []
    - let loginErrors = []

    if action === '/signup'
        each error in errors 
            if error.path === 'username'
                - usernameErrors.push(error.msg)
            else if error.path === 'password'
                - passwordErrors.push(error.msg)
    else 
        - loginErrors = errors

    form.logging-form(action=action method="post")
        +formInput(
            'username',
            'text',
            inputs.username || '',
            usernameErrors
        )(input={'required': ''})
        +formInput(
            'password',
            'password',
            inputs.password || '',
            passwordErrors.length ? passwordErrors : loginErrors
        )(input={'required': ''})

        // add more fields as desired
        if block 
            block
        
        button.logging-form__submit Submit