mixin searchbar(placeholder, attrs={})
    .searchbar&attributes(attrs)
        .searchbar__icon
            img(src=images.searchIcon)
        input.searchbar__input(
            name='content', 
            type='text', 
            placeholder=placeholder
        )