mixin searchbar(placeholder, attrs={})
    .searchbar&attributes(attrs)
        .searchbar__icon
            img(src='/images/searchIcon.png')
        input.searchbar__input(
            type='text', placeholder=placeholder
        )