mixin searchbar(formClassId, placeholder)
    .searchbar 
        .searchbar__icon
            img(src='/images/searchIcon.png')
        form.searchbar__form(class=formClassId)
            input.searchbar__input(
                type='text', placeholder=placeholder
            )