include ../icon/svgIconElement
include ../icon/svg/searchIcon

mixin searchbar(placeholder, attrs={})
    .searchbar&attributes(attrs)
        +svgIconElement(
            'div',
            'searchIcon',
            null,
            {
                'class': [
                    '-small'
                ]
            }
        )
        input.searchbar__input(
            name='content', 
            type='text', 
            placeholder=placeholder
        )