extends ../layouts/author
include ../components/list/buttonList
include ../components/form/formInput
include ../components/form/formTextarea
include ../components/fragment/blogPostFragment

block page
    - const {inputs, errors, blogPost} = data

    - const titleErrors = []
    - const thumbnailErrors = []
    - const keywordErrors = []
    - const contentErrors = []

    each error in errors 
        if error.path === 'title'
            - titleErrors.push(error.msg)
        else if error.path === 'thumbnail'
            - thumbnailErrors.push(error.msg)
        else if error.path === 'keywords'
            - keywordErrors.push(error.msg)
        else if error.path === 'content' || error.path === 'word-count'
            - contentErrors.push(error.msg)

    .blog-post-form-page
        .blog-post-form-page__left
            .blog-post-form-page__heading Draft
            .blog-post-form-page__body
                +buttonList(
                    [{
                        'classId': 'blog-post-form-page__metadata-tab',
                        'label': 'Metadata'
                    },
                    {
                        'classId': 'blog-post-form-page__content-tab',
                        'label': 'Content'
                    }],
                    {
                        'button': { 'class': '-tab' }
                    }
                )
                form#blog-post-form.blog-post-form(
                    method='post' 
                    enctype='multipart/form-data'
                )
                    .blog-post-form__metadata
                        +formInput(
                            'title',
                            'text',
                            inputs.title || '',
                            titleErrors
                        )
                        +formInput(
                            'thumbnail',
                            'file',
                            '',
                            thumbnailErrors
                        )
                        +formInput(
                            'keywords',
                            'text',
                            inputs.keywords || '',
                            keywordErrors
                        )
                        p * Keywords should be separated by spaces.

                    .blog-post-form__content.-gone
                        +formTextarea(
                            'content',
                            inputs.content || '',
                            contentErrors,
                            {
                                'textarea': {
                                    'id': 'tinymce-app',
                                    'class': 'tinymce-app'
                                }
                            }
                        )
                        input#word-count.blog-post-form__hidden(
                            name='word-count'
                            type='hidden'
                        )

        .blog-post-form-page__right
            .blog-post-form-page__heading Preview
            .blog-post-form-page__body
                +blogPostFragment()