extends ../layouts/browser 
include ../components/list/iconButtonList
include ../components/link/iconLink
include ../components/card/blogCard
include ../components/card/commentCard

block page
    - const {title, blog} = data

    .blog-page
        .blog
            h1.blog__title= title
            .blog__metadata
                .blog__author-details
                    +iconLink(
                        '/images/profileIcon.png',
                        '#',
                        blog.author.name
                    )(class='-larger')
                .blog__stat-button-list
                    +iconButtonList(
                        {
                            'classId': 'blog-like-button',
                            'icon': '/images/likeIcon.png',
                            'label': blog.likes
                        },
                        {
                            'classId': 'blog-dislike-button',
                            'icon': '/images/dislikeIcon.png',
                            'label': blog.dislikes
                        },
                        {
                            'classId': 'blog-comment-button',
                            'icon': '/images/commentIcon.png',
                            'label': blog.comments.length
                        }
                    )
                .blog__date= `Published on ${blog.publish_date}`
            
            .blog__thumbnail Thumbnail 
            .blog__content= blog.content
            .blog__stat-button-list
                +iconButtonList(
                    {
                        'classId': 'blog-like-button',
                        'icon': '/images/likeIcon.png',
                        'label': blog.likes
                    },
                    {
                        'classId': 'blog-dislike-button',
                        'icon': '/images/dislikeIcon.png',
                        'label': blog.dislikes
                    },
                    {
                        'classId': 'blog-comment-button',
                        'icon': '/images/commentIcon.png',
                        'label': blog.comments.length
                    }
                )
        
        h2.blog-page__post-blog-heading More Blogs
        .blog-card-pair
            +blogCard(blog)(class='-small')
            +blogCard(blog)(class='-small')
        
        h2.blog-page__post-blog-heading Comments
        each comment in blog.comments
            .blog-page__comment
                +commentCard(comment)