extends ../layouts/author
include ../components/list/buttonList
include ../components/form/formInput

block page
    - const titleErrors = []
    - const thumbnailErrors = []
    - const keywordErrors = []
    - const contentErrors = []

    each error in errors 
        if error.path === 'title'
            - titleErrors.push(error.msg)
        else if error.path === 'thumbnail'
            - thumbnailErrors.push(error.msg)
        else if error.path === 'keyword'
            - keywordErrors.push(error.msg)
        else if error.path === 'content'
            - contentErrors.push(error.msg)

    .blog-form-page
        .blog-form-page__left
            .blog-form-page__heading Draft
            .blog-form-page__body
                +buttonList(
                    {
                        'classId': 'blog-form-metadata-tab',
                        'label': 'Metadata'
                    },
                    {
                        'classId': 'blog-form-content-tab',
                        'label': 'Content'
                    } 
                )(button='-tab')
                form#blog-form.blog-form(method='post')
                    .blog-form__metadata
                        +formInput(
                            'title',
                            'text',
                            inputs.username || '',
                            titleErrors
                        )(input={'required': ''})
                        +formInput(
                            'thumbnail',
                            'file',
                            inputs.thumbnail || '',
                            thumbnailErrors
                        )(input={'required': ''})
                        +formInput(
                            'keywords',
                            'text',
                            inputs.keywords || '',
                            keywordErrors
                        )(input={'required': ''})

                    .blog-form__content.-hidden
                        textarea#tinymce-app.tinymce-app
                        if contentErrors.length
                            .blog-form__error-container
                                each error in contentErrors
                                    .blog-form__error= error
        .blog-form-page__right
            .blog-form-page__heading Preview
            .blog-form-page__body
                .blog-preview
                    .blog-preview__metadata 
                    .blog-preview__content