extends ../layouts/browser
include ../components/blogCard

block page
  .blog-card-group
    each blog, index in blogs
      // only display up to 4 most popular blogs
      if index == 4
        break
      
      +blogCard(blog)