extends ../layouts/toolbars
include ../components/grid/blogPostGrid
include ../components/toolbar/navbar

block navbar
  +navbar(false)

block page
  - const { blogPosts } = data

  main.index-page
    +blogPostGrid(blogPosts)
