extends ../layouts/root

block content
    h1 Login
    form.logging-form(action="/login" method="POST")
        label.logging-form__label(for="username") Username
        input#username.logging-form__input(
            name="username" 
            type="text" 
            placeholder="username"
            required 
            autofocus 
        )
        .input-error This is an input error.

        label.logging-form__label(for="password") Password
        input#password.logging-form__input(
            name="password" type="password" required
        )
        .input-error This is an input error.
        
        button.logging-form__submit Login