extends ../layouts/root

block content
    h1 Sign Up
    form.logging-form(action="/signup" method="POST")
        label(for="username") Username
        input#username.logging-form__input(
            name="username" 
            type="text" 
            placeholder="username"
            required 
            autofocus 
        )
        label(for="password") Password
        input#password.logging-form__input(
            name="password" type="password"
        )
        button.logging-form__submit Sign Up