extends ../layouts/browser
include ../components/list/actionList

block page
    .profile 
        .profile__user-details
            .profile__avatar.avatar
                img(src='/images/profileIcon.png')
            .profile__username= user.username
            .profile__bio
                .profile__heading Bio 
                p.profile__section
            .profile__favorite-topics
            .profile__edit-button 

        .profile__browser-details
            .profile__heading Recent Reads
            .profile__section
                +actionList(
                    {
                        'label': 'Blog 1',
                        'icon': '/images/profileIcon.png'
                    },
                    {
                        'label': 'Blog 2',
                        'icon': '/images/profileIcon.png'
                    }
                )

        if userBlogs
            .profile__author-details
                .profile__heading Blogs Written by #{user.username}
                .profile__section
                    +actionList(
                        {
                            'label': 'Blog 1',
                            'icon': '/images/profileIcon.png'
                        },
                        {
                            'label': 'Blog 2',
                            'icon': '/images/profileIcon.png'
                        }
                    )