extends ../layouts/browser
include ../components/form/searchbar
include ../components/form/formSelect
include ../components/fragment/blogPostFragment
include ../components/list/blogPostList
include ../components/list/buttonList

block page
    - const {title, publishedBlogPosts, unpublishedBlogPosts} = data

    main.user-blog-posts-page
        h1.user-blog-posts-page__heading= title
        section.user-blog-posts-page__toolbar
            +searchbar(
                'Search Blog Posts',
                {'class': 'user-blog-posts-page__searchbar'}
            )
            +formSelect(
                'sort-by',
                [
                    'dislikes',
                    'last-mod-date', 
                    'likes',
                    'publish-date', 
                    'title', 
                    'total-comments'
                ],
                'title',
                {
                    'select': { 
                        'class': 'user-blog-posts-page__sort-selector'
                    }
                }
            )
        .user-blog-posts
            section.user-blog-posts__left 
                section.user-blog-posts__tabs
                    +buttonList(
                        [{
                            'classId': 'user-blog-posts__published-tab',
                            'label': 'Published'
                        },
                        {
                            'classId': 'user-blog-posts__unpublished-tab',
                            'label': 'Unpublished'
                        }],
                        {
                            'button': {'class': ['-tab']}
                        }
                    )
                section.user-blog-posts__tab-container
                    .user-blog-posts__published-container
                        if !publishedBlogPosts.length
                            p You have no blog posts here.
                        else
                            +blogPostList(
                                publishedBlogPosts,
                                {'class': 'user-blog-posts__published'}
                            )
                    .user-blog-posts__unpublished-container.-gone
                        if !unpublishedBlogPosts.length
                            p You have no blog posts here.
                        else
                            +blogPostList(
                                unpublishedBlogPosts,
                                {'class': ['user-blog-posts__unpublished']}
                            )
            section.user-blog-posts__right.-hidden
                +blogPostFragment()