extends ../layouts/browser 

block page 
    .avatar 
    // username
    // profile pic
    // self-descrip

    // preferred tech topics (keywords?)
    // most recent reads
    // author? -> show most popular blogs