@use '../../globals/icon-sizes' as iSizes;

.icon-button {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;

    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &.-circle {
        border-radius: 50%;
    }

    &.-burger {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    // &.-large-icon {
    //     .icon-button__icon {
    //         height: iSizes.$large;
    //         width: iSizes.$large;
    //     }
    // }
}