
@use '../../globals/font-sizes' as fSizes;
@use '../../globals/icon-sizes' as iSizes;

.icon-element {
    display: flex;
    align-items: center;

    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &.-avatar {
        .icon-element__icon > img {
            border-radius: 50%;
        }
    }

    &.-column {
        flex-direction: column;
    }

    &.-gap-small {
        gap: 0.5rem;
    }

    &.-gap-medium {
        gap: 1rem;
    }

    &.-padding-even-slim {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    &.-padding-even-small {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &.-padding-burger-small {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &.-small {
        .icon-element__icon {
            height: iSizes.$small;
            width: iSizes.$small;
        }
        .icon-element__label {
            font-size: fSizes.$small;
        }
    }

    &.-large {
        
        .icon-element__icon {
            height: iSizes.$large;
            width: iSizes.$large;
        }

        .icon-element__label {
            font-size: fSizes.$large;
        }
    }

    &.-larger {
        
        .icon-element__icon {
            height: iSizes.$larger;
            width: iSizes.$larger;
        }

        .icon-element__label {
            font-size: fSizes.$larger;
        }
    }
}