@use '../../globals/icon-sizes' as iSizes;

.icon-button {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;

    &__icon {
        height: iSizes.$medium;
        width: iSizes.$medium;
    }

    &.-avatar {
        .icon-link__icon {
            border-radius: 50%;
        }
    }

    &.-burger {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    &.-row {
        display: flex;
        gap: 0.1rem;
    }

    &.-small {
        .icon-button__icon {
            height: iSizes.$small;
            width: iSizes.$small;
        }
    } 
}