mixin iconButton(classId, icon, label=null)
    - console.log(attributes)
    button.icon-button(class=classId)&attributes(attributes)
        .icon-button__icon
            img(src=icon)
        if label !== null
            .icon-button__label= label