extends root

block content
  block navbar

  .navbar-dropdown-container.-gone
  .page-container
    .sidebar-container.-gone
      include ../components/toolbar/sidebar
    block page

  include ../components/toolbar/footer
